<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">

<head>
	<title>Blod do carlos</title>
	<!-- CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
	<header>
		<nav class="navbar navbar-light bg-light">
    		<a href="/"><span class="navbar-brand mb-0 h1">Blog Do Carlos</span></a>
    		<a href="/novopost"><span class="btn btn-primary">Criar Post</span></a>
		</nav>
	</header>
		<th:block th:include="mensagemSucesso"></th:block>
	<section>
		
		<div class="container" style="width: 60%; padding-bottom: 30px;">
			
			<nav aria-label="breadcrumb">
  				<ol class="breadcrumb">
    				<li class="breadcrumb-item active" aria-current="page">Posts</li>
    				
  				</ol>
			</nav>
			
			
			<div class="card shadow-sm bg-white rounded" style="margin-top: 20px;" th:each="post : ${posts}">
				<div class="card-body">
					<p class="card-subtitle mb-2 text-muted" style="font-size: 0.8rem">
						<span th:text="${post.autor}"></span>
						<span th:text="${post.data}"></span>
					</p>
					
					<a th:href="${(#mvc.url('CBC#getPostDetalhe').arg(0, post.id)).build()}"><h4 class="card-title" style="fontweight: bold; color: black; padding-top: 5px;"><span th:text="${post.titulo}"></span></h4></a>
				
					<p class="card-text"><span th:utext="${#strings.abbreviate(post.texto,400)}"></span></p>
				</div>
			</div>
					
		</div>
		
	</section>
</body>


</html>